<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Početna Stranica</title>
    
</head>
<body>
    <header>
        <h1>Vaša Bašta Vaša Mašta</h1>
        <nav>
            <ul>
                <li><a href="/administrator">login</a></li>
                <li><a href="/">home</a></li>
                <li><a href="/administrator">spiskovi</a></li>
                <li><a href="/administrator">zahtevi</a></li>
                <li><a href="/administrator">dodavanje dekoratera</a></li>
                <li><a href="/administrator">dodavanje firmi</a></li>
               
            </ul>
        </nav>
    </header>
    <main class="center-content">
        <div class="container">
            <table>
                <tr>
                    <td>
                        Korisnicko ime:
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="korisnicko_ime">
                    </td>
                </tr>
                <tr>
                    <td>
                       Lozinka:
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="lozinka">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button (click)="login()">LOGIN</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div [hidden]="!error" class="error-message">
                            {{error}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </main>
   
    <footer>
        <p>&copy; 2024 Vaša bašta.Sva prava zadržana.</p>
    </footer>
</body>
