<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Početna Stranica</title>
</head>
<body>
    <header>
        <h1>Vaša Bašta Vaša Mašta</h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="/praviLogin">Prijava</a></li>
                <li><a href="/login-vlasnik">Registracija</a></li>
                <li><a href="/promena-lozinke">Promena Lozinke</a></li>
            </ul>
        </nav>
    </header>

    <section class="info">
        <h2>Opšte Informacije</h2>
        <div class="stats">
            <div class="stat-item">
                <h3>Dekorisane Bašte</h3>
                <p id="decoratedGardens">{{dekorisaneBaste}}</p>
            </div>
            <div class="stat-item">
                <h3>Registrovanje Vlasnici</h3>
                <p id="registeredOwners">{{vlasnici}}</p>
            </div>
            <div class="stat-item">
                <h3>Registrovanje Dekoratera</h3>
                <p id="registeredDecorators">{{dekorateri}}</p>
            </div>
            <div class="stat-item">
                <h3>Poslovi (last 24h)</h3>
                <p id="jobs24h">{{poslovi24}}</p>
            </div>
            <div class="stat-item">
                <h3>Poslovi (last 7 days)</h3>
                <p id="jobs7d">{{poslovi7}}</p>
            </div>
            <div class="stat-item">
                <h3>Poslovi (last 30 days)</h3>
                <p id="jobs30d">{{poslovi30}}</p>
            </div>
        </div>
    </section>
    <section class="companies">
        <div>
            <label for="sortOptions" >Sortiraj:</label>
            <select id="sortOptions" [(ngModel)]="selectedSortOption">
                <option value="asc">Sortiraj rastuće(po nazivu)</option>
                <option value="desc">Sortiraj opadajuće(po nazivu)</option>
                <option value="ascAdr">Sortiraj rastuce(po adresi)</option>
                <option value="descAdr">Sortiraj opadajuce(po adresi)</option>
            </select>
            <button (click)="sortiraj()">Sortiraj</button>
        </div>
    
        <div >
            <div >
                <label for="searchByName">Pretrazi po nazivu:</label>
                <input type="text" id="searchByName" [(ngModel)]="searchName" placeholder="Unesite naziv">
            </div>
            <div class="search-field">
                <label for="searchByAddress">Pretrazi po adresi:</label>
                <input type="text" id="searchByAddress" [(ngModel)]="searchAddress" placeholder="Unesite adresu">
            </div>
            <button (click)="pretrazi()">Pretraži</button>
            <button (click)="restartuj()">Restartuj</button>
        </div>
    </section>
    

    <section class="companies">
        <h2>Firme i Dekorateri</h2>
        <div class="company-list">
            <div *ngFor="let f of firme" class="company-item">
                <h3>{{f.naziv}}</h3>
                <div *ngFor="let dekorater of dekorateri2" [hidden]="dekorater.firma != f.naziv" class="dekorater-item">
                    <p class="dekorater-ime">{{dekorater.ime}} {{dekorater.prezime}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery">
        <h2>Galerija Završenih Poslova</h2>
        <div class="gallery-images" id="gallery">
            <div *ngFor="let slika of slike" class="gallery-item">
                <img [src]="getUserImageUrl(slika)" alt="Profilna slika korisnika" class="profile-image">
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Vaša bašta. Sva prava zadržana.</p>
    </footer>
</body>
</html>
